@use "color.module.scss";
@use "variables.module.scss";
@use "mixins/_media.module.scss" as mixins;

.wrapper {
  width: 100%;
  max-width: 960px;
  display: flex;
  border-radius: variables.$cardBorderRadius;
  overflow: hidden;
}

.form {
  padding: 28px 80px 37px 40px;
  display: flex;
  flex-direction: column;
  background-color: color.$white;
  max-width: 576px;
  width: 100%;
  z-index: 1;
  @include mixins.media(md) {
    padding: 16px;
    border-radius: variables.$cardBorderRadius;
    max-width: 100%;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 384px;
  @include mixins.media(md) {
    display: none;
  }
}
