@use 'color.module.scss';

@media (any-hover: hover) {
  .btn-primary {
    &:hover {
      background-color: rgba(color.$darkBlack, 0.8) !important;
    }
  }
}

.btn-primary {
  background-color: color.$darkBlack !important;
  color: color.$white !important;
  border-color: transparent !important ;
  &:active {
    background-color: rgba(color.$darkBlack, 0.6) !important;
  }
}

.btn-outline-secondary {
  &:active {
    background-color: rgba(color.$black, 0.6) !important;
  }
}
