@use 'color.module.scss';

.label {
  margin-bottom: -3px;
}

.input {
  border: none;
  border-bottom: 1px solid color.$borderColor;
  border-radius: 0;
  padding: 5px 10px 5px 0;
}

.invalid {
  color: color.$danger;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 1;
  &:focus {
    box-shadow: none;
  }
}

.formGroup {
  margin-bottom: 32px !important;
  position: relative;
}
