.pt {
  font-family: var(--font-pt);
}

.cabin {
  font-family: var(--font-cabin);
}

.lg {
  font-size: 34px;
}

.xl {
  font-size: 40px;
}

.md {
  font-size: 24px;
}

.sm {
  font-size: 14px;
}

.xs {
  font-size: 12px;
}
